# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub-cache/
.pub/

# IDE & Editors
.idea/
*.iml
*.iws
*.ipr
devtools_options.yaml
.vscode/*
!.vscode/launch.json

# --- DELIKADO & SECRETS (HUWAG I-PUSH) ---
*.env
.env*
lib/firebase_options.dart
**/google-services.json
**/GoogleService-Info.plist
android/local.properties
android/key.properties
*.keystore
*.jks
*.p12

# Firebase Tools
# firebase.json # Leave commented unless you want to ignore firebase CLI configs

# Android specific
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flt
ios/DerivedData/
*.xcworkspace

# OS / System
.DS_Store
Thumbs.db

# Pub Lockfile
# pubspec.lock # Leave commented for apps so dependencies stay locked across environments